<form class="form-horizontal" ng-show="form.show">
  <div class="alert alert-danger" role="alert" ng-show="alert.show"> <strong>{{alert.title}}</strong>{{alert.message}}</div>
  <div class="form-group">
    <label for="firstname" class="col-sm-4 control-label">Nombres</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="firstname" placeholder="Nombres" ng-model="user.firstName">
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-4 control-label">Apellidos</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="lastname" placeholder="Apellidos" ng-model="user.lastName">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-4 control-label">Correo Electronico</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="email" placeholder="example@example.com" ng-model="user.email">
    </div>
  </div>
  <div class="form-group">
    <label for="username" class="col-sm-4 control-label">Nombre de usuario</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="username" placeholder="nombredeusuario" ng-model="user.username">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-4 control-label">Contraseña</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password"  ng-blur="verifyPassword()">
    </div>
  </div>
  <div class="form-group">
    <label for="password2" class="col-sm-4 control-label">Confirmar Contraseña</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="password2" placeholder="Password2" ng-model="user.password2" ng-change="verifyPassword()">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="button" class="btn btn-success" ng-click="registerUser()" ng-disabled="alert.show">Registrar</button>
    </div>
  </div>
</form>
<div>
  <button g-login type="button">Google Login</button>
  <button type="button" ng-click="logoutGoogle()">Logout</button>
  <button fb-login type="button">facebook Login</button>
  <button fb-login type="button" ng-click="showForm()">Email Login</button>
</div>